@import "tailwindcss";

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes bob {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.animate-slide {
    animation: slide 10s linear infinite;
}

.animate-bob {
    animation: bob 0.5s ease-in-out infinite;
}